
/* =========================
   RESERVATION PAGE
========================= */

.reservation-hero {
  width: 100%;
  height: 720px;
  margin-top: 70px; /* tránh header fixed */
  background-color: #ba3801;
  display: flex;
  position: relative;
  overflow: hidden;
}
.reservation-left {
  width: 50%;
  height: 100%;
  position: relative;
}

.reservation-right {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.reservation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reservation-text-box {
  position: absolute;
  top: 50%;
  left: 80px;                 /* canh trái đẹp, không dính mép */
  transform: translateY(-50%);
  max-width: 550px;
}

.reservation-title {
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
  line-height: 1.25;
  margin-bottom: 30px;
}

.reservation-subtext {
  font-size: 20px;
  font-weight: 370;
  color: #fff;
  line-height: 1.35;
  margin-bottom: 22px;
}

.reservation-highlight {
  font-weight: 600;
}
.reservation-contact {
  font-size: 20px;
  color: #fff;
  line-height: 1.4;
  font-weight: 370;
  margin-bottom: 10px;
}

